@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Defaults */
html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}

/* Navbar Custom */
.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-custom a {
    color: white;
}
.navbar-custom a:hover {
    color: rgba(0, 0, 0, 0.747);
    border-bottom: 1px solid white;
}
.navbar-custom a .active {
    color: rgba(0, 0, 0, 0.747);
    border-bottom: 1px solid white;
}