@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Defaults */
html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;

}
/* Navbar Custom */
.navbar-custom
{
overflow: auto;
}
.navbar-custom a {
    color:white;
}
.navbar-custom a:hover{
     color:#FFFFFF;
     border-bottom: 1px solid white;

}
.navbar-custom a .active {
    color: rgba(1, 1, 1, 0.747);
    border-bottom: 1px solid white;
}
.navbar-toggler{
	color: #FFFFFF;
}
/* Section Header Image */
.header-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../images/poster.png");

    width: auto;
    height: auto;
    
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative;
    z-index: 1;
}

/* Position text in the middle of the page/image */
.bg-text {
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    background-size: cover;
    /* border: 3px solid #f1f1f1;*/
    position: relative;
    height:100vh;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    padding: 20px;
    text-align: center;
}
.bg-text .ml3{
    margin-top: 4%;
    font-size: 5vw;
    color: #67bad9;
    font-weight: 1000;
}
.bg-text .ml4{
    font-size: 4.5vw;
    color: #67bad9;
    font-weight: 1000;
}
@media (max-width: 430px){
    .bg-text .ml3{
    margin-top: 20%;
    font-size: 13vw;
    color: #67bad9;
    font-weight: 800;
}
.bg-text .ml4{
    font-size: 10vw;
    color: #67bad9;
    font-weight: 800;
}
}

 /*Footer Starts*/




/*Footer Ends*/