@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Timer
7. Intro
8. Tabs Section
10. Speakers
11. CTA
12. Footer
13. Timeline


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
	overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	color: #68727c;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(127,102,255,0.85);
	color: #ffffff;
}
p::selection
{
	
}
h1{font-size: 60px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #00416d;
	font-weight: 700;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/Index2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.background_image
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width: 780px)
{
	.slide .background_image
	{
		right: 0;
	}
}
.button
{
	display: inline-block;
	width: 202px;
	height: 59px;
	text-align: center;
}
.button_1
{
	background: #ffffff;
}
.button_2
{
	background: #7f66ff;
}
.button_3
{
	background: #ff9000;
}
.button_4
{
	background: #7f66ff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	content: '';
}
.button_1::hover
{
	background: #67bad9;
}
.button_2::after
{
	background: #0a2642;
}
.button_3::after
{
	background: #0a2642;
}
.button_4:hover
{
	background: #0a2642;
}
.button a
{
	display: block;
	height: 100%;
	line-height: 59px;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.button_1 a
{
	color: #081624;
}
.button_2 a
{
	color: #ffffff;
}
.button_3 a
{
	color: #ffffff;
}
.button_4 a
{
	color: #ffffff;
}

.section_subtitle
{
	font-size: 13px;
	font-weight: 700;
	color: #b6bec7;
	line-height: 0.75;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-right: -0.2em;
}
.section_title
{
	margin-top: 7px;
}
.temp
{
	margin-left: 250px;

}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 22px;
	left: 23px;
	width: calc(100vw - 48px);
	background: #0a2642;
	z-index: 100;
	border-bottom: solid 2px #67bad9;
}
.header_content
{
	width: 100%;
	height: 94px;
	padding-left: 50px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_content
{
	height: 75px;
}
.logo
{
	display: inline-block;
}
.logo a
{
	display: block;
	height: 100%;
	padding: 5px;
}
.logo a > span
{
	display: block;
	font-size: 30px;
	line-height: 0.75;
	font-weight: 500;
	color: #7f66ff;
	text-transform: uppercase;
}
.logo a > span > span
{
	color: #ffffff;
}
.logo a > span:last-of-type
{
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.75em;
	margin-top: 7px;
	margin-left: 2px;
}
.main_nav
{
	margin-left: 155px;
}
.main_nav ul li
{
	position: relative;
	white-space: nowrap;
}
.main_nav > ul > li.has_children > a
{
	padding-right: 19px;
}
.main_nav > ul > li.has_children > a::after
{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	font-family: 'FontAwesome';
	content: '\f107';
	font-size: 20px;
	color: #928d92;
	line-height: 1.2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav > ul > li.active.has_children > a::after
{
	color: #67bad9;
}
.main_nav > ul > li:not(:last-of-type)
{
	margin-right: 40px;
}
.main_nav ul li a
{
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.main_nav > ul > li a:hover,
.main_nav > ul > li.active a,
.main_nav > ul > li > a:hover::after
{
	color: #67bad9;
}
.main_nav ul li > ul
{
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 100%;
	background: #ffffff;
	padding-top: 20px;
	padding-bottom: 25px;
	visibility: hidden;
	opacity: 0;
}
.main_nav ul li.has_children:hover > ul
{
	visibility: visible;
	opacity: 1;
}
.main_nav ul li > ul > li
{
	padding-left: 30px;
}
.main_nav ul li > ul > li > a
{
	position: relative;
	padding-right: 30px;
}
.main_nav ul li > ul > li:not(:last-of-type)
{
	margin-bottom: 8px;
}
.main_nav ul li > ul > li a
{
	color: #67bad9;
}
.main_nav ul li > ul > li a:hover
{
	color: #0a2642;
}
.main_nav > ul > li.has_children > ul li.has_children ul
{
	position: absolute;
	top: -20px;
	left: 100%;
	border-left: solid 3px #7f66ff;
}
.main_nav > ul > li.has_children > ul li.has_children > a::after
{
	position: absolute;
	top: 0px;
	right: 16px;
	height: 100%;
	font-family: 'FontAwesome';
	content: '\f105';
	font-size: 16px;
	color: #928d92;
	line-height: 1.4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav > ul > li.has_children > ul li.has_children > a:hover::after
{
	color: #0a2642;
}
.header_right
{
	height: 100%;
}
.header_link
{
	height: 100%;
	width: 200px;
	background: #7f66ff;
	text-align: center;
}
.header_link a
{
	display: block;
	position: relative;
	height: 100%;
}
.header_link a span
{
	position: relative;
	font-size: 14px;
	font-weight: 900;
	color: #ffffff;
	line-height: 96px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_link a span
{
	line-height: 75px;
}
.header_link a span > img
{
	margin-bottom: 4px;
	margin-left: 5px;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}
.header_link:hover a span > img
{
	-webkit-transform: translateX(5px);
	-moz-transform: translateX(5px);
	-ms-transform: translateX(5px);
	-o-transform: translateX(5px);
	transform: translateX(5px);
}
.header .social
{
	margin-right: 56px;
}
.social ul li
{
	width: 32px;
	height: 32px;
	text-align: center;
	border-radius: 50%;
	background: transparent;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:not(:last-of-type)
{
	margin-right: 13px;
}
.social ul li:hover
{
	background: #67bad9;
}
.social ul li a
{
	display: block;
	height: 100%;
}
.social ul li a i
{
	font-size: 14px;
	color: #ffffff;
	line-height: 32px;
}
.log_reg
{
	margin-right: 75px;
}
.log_reg ul li
{
	position: relative;
}
.log_reg ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '/';
	margin-left: 4px;
	padding-right: 4px;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.log_reg ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.log_reg ul li a:hover
{
	color: #7f66ff;
}
.hamburger
{
	display: none;
	cursor: pointer;
}
.hamburger i
{
	font-size: 22px;
	color: #ffffff;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #7f66ff;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	background: rgba(10,38,66,0.92);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu_container
{
	width: 100%;
	height: 100%;
}
.menu_close
{
	position: absolute;
	top: 50px;
	right: 50px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 22px;
	color: #ffffff;
}
.menu_close:hover i
{
	color: #67bad9;
}
.menu_content
{
	position: absolute;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.menu_nav ul li
{
	position: relative;
	display: inline-block;
	
}
.menu_nav ul li a
{
	font-size: 36px;
	font-weight: 500;
	color: #ffffff;
}
.menu_nav ul li a:hover
{
	color: #67bad9;
}
.menu_social
{
	position: absolute;
	bottom: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

/*********************************
5. Home
*********************************/

.home
{
	height: 100vh;
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_container
{
	position: absolute;
	top: 59.5%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0px;
	width: 100%;
}
.home_content
{

}
.home_title h1 span
{
	display: block;
	font-size: 90px;
	font-weight: 700;
	color: #ffffff;
	line-height: 1;
	text-align: center;
	
}
.home_title h1 span:first-of-type
{
	color: white;

}
.home_info_container
{
	margin-top: 2px;
	position: center;
}
.home_info
{
	display: inline-block;
	height: 49px;
	padding-left: 22px;
	padding-right: 24px;
	background: none;
}
.home_info ul
{
	height: 100%;
}
.home_info ul li
{
	position: relative;
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
}
.home_info ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '|';
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
	margin-left: 6px;
	margin-right: 8px;
}
.home_button
{
	margin-top: 60px;
}


/*********************************
6. Timer
*********************************/

.timer_section
{
	
}
.timer_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(103,186,217,0.88);
}
.timer_container
{
	height: 197px;
	padding-left: 70px;
	padding-right: 70px;
}
.timer
{
	width: 100%;
	height: 100%;
}
.timer_num
{
	font-size: 72px;
	font-weight: 700;
	color: #ffffff;
	line-height: 0.75;
}
.timer_unit
{
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	line-height: 0.75;
	margin-top: 18px;
}
.timer li
{
	position: relative;
	width: 25%;
}
.timer li:not(:last-of-type)::after
{
	display: block;
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -6px;
	content: ':';
	font-size: 72px;
	font-weight: 700;
	color: rgba(10,38,66,0.3);
}

/*********************************
7. Intro
*********************************/

.intro
{
	background: whitesmoke;
	padding-top: 92px;
	padding-bottom: 102px;
}
.intro .section_title
{
	margin-top: 0;
	color: white;
}
.intro_text
{
	max-width: 770px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
}
.intro_text p
{
	font-size: 18px;
	font-weight: 400;
	color: #68727c;
}
.intro_button
{
	margin-top: 47px;
}

/*********************************
8. Tabs Section#153758
*********************************/

.tabs_section
{
	background-color: whitesmoke;
	padding-top: 103px;
	padding-bottom: 71px;
}
.tabs_container
{
	margin-top: 80px;
}
.tab
{
	height: 57px;
	background: #f5f8fb;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	font-size: 16px;
	color: #0a2642;
	font-weight: 500;
	line-height: 57px;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 6px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:hover
{
	background:#ffffff ;
	color: #67bad9;
}
.tab:not(:last-child)
{
	margin-right: 6px;
}
.tab.active
{
	background: #67bad9;
	color: #ffffff;
}
.tab_panels
{
	padding-top: 55px;
	padding-bottom: 32px;
}
.tab_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.tab_panel_content p:last-of-type
{
	margin-bottom: 0;
}
.tab_title
{
	margin-top: 24px;
}
.tab_text
{
	margin-top: 20px;
	color: #ffffff;

}
.tab_text p
{
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	-ms-transform: translateY(8px);
	-o-transform: translateY(8px);
	transform: translateY(8px);
}
.tab_image
{
	width: 100%;
}
.tab_image img
{
	max-width: 100%;
}
.tab_link
{
	margin-top: 35px;
}
.tab_link a
{
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: underline;
}
.tab_link a:hover
{
	color: #ff9000;
}



/*********************************
10. Speakers
*********************************/

.speakers
{
	background:whitesmoke ;
	padding-top: 101px;
	padding-bottom: 103px;
}
.speakers_row
{
	margin-top: 58px;
}
.speaker
{
	margin-bottom: 27px;
}
.speaker_image::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	border: solid 1px #7f66ff;
	background: rgba(127,102,255,0.67);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.speaker:hover .speaker_image::after
{
	visibility: visible;
	opacity: 1;
}
.speaker_info
{
	position: absolute;
	left: 22px;
	bottom: 22px;
	width: 191px;
	height: 67px;
	background: #7f66ff;
	padding-left: 21px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.speaker:hover .speaker_info
{
	background: #221831;
}
.speaker_name a
{
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	line-height: 1.2;
}
.speaker_name a:hover
{
	color: #7f66ff;
}
.speaker_title
{
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	line-height: 1.2;
	margin-top: 1px;
}

/*********************************
11. CTA
*********************************/

.cta
{
	padding-top: 81px;
	padding-bottom: 73px;
}
.cta_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(103,186,217,0.7);
}
.cta_title h1
{
	color: #ffffff;
}
.cta_text
{
	margin-top: 18px;
}
.cta_text p
{
	font-size: 18px;
	color: #ffffff;
}
.cta_button
{
	margin-top: 23px;
	background-color: #ffffff;

}

/*********************************
12. Footer
*********************************/

.footer
{

}
.footer_container
{
	background: #0a2642;
	padding-top: 13px;
	padding-bottom: 61px;
}
.footer_text
{
	margin-top: 50px;
	padding-left: 8px;
}
.footer_text_right{
   
   padding-right: 8px;
   padding-top:120px;
}
.footer_text_right p{
   color: whitesmoke;
 }
.footer_text p
{
	color: whitesmoke;
}
.footer_social
{
	margin-top: 52px;
}
.footer_column
{
	padding-top: 23px;
}
.footer_title
{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.gallery
{
	max-width: 360px;
	margin-top: 54px;
}
.gallery_item
{
	width: calc((100% - 12px) / 4);
	max-width: 87px;
	max-height: 87px;
	margin-bottom: 4px;
}
.footer_bar
{
	background: #0a2642;
	opacity: 0.9;
}
.footer_bar_content
{
	height: 58px;
}
.copyright
{
	font-size: 14px;
	font-weight: 400;
	color: #4e445d;
}
hr
 {
    border:0.5px inset;
    color: grey;
    display: block;
    height: 0.1px;
    margin: 0;

 }
 /*<!-- Speaker --> 
				<div class="col-xl-4 col-md-6">
					<div class="speaker">
						<div class="speaker_image"><img src="images/speaker_1.jpg" alt=""></div>
						<div class="speaker_info d-flex flex-column align-items-start justify-content-center">
							<div class="speaker_name"><a href="#">Maria Smith</a></div>
							<div class="speaker_title">Random Post</div>
						</div>
					</div>
				</div>

				 <!-- Speaker -->  
				<div class="col-xl-4 col-md-6">
					<div class="speaker">
						<div class="speaker_image"><img src="images/speaker_2.jpg" alt=""></div>
						<div class="speaker_info d-flex flex-column align-items-start justify-content-center">
							<div class="speaker_name"><a href="#">James Williams</a></div>
							<div class="speaker_title">Random Post</div>
						</div>
					</div>
				</div>

				 <!-- Speaker -->  
				<div class="col-xl-4 col-md-6">
					<div class="speaker">
						<div class="speaker_image"><img src="images/speaker_3.jpg" alt=""></div>
						<div class="speaker_info d-flex flex-column align-items-start justify-content-center">
							<div class="speaker_name"><a href="#">Michael Parker</a></div>
							<div class="speaker_title">Random Post</div>
						</div>
					</div>
				</div>

				 <!-- Speaker -->  
				<div class="col-xl-4 col-md-6">
					<div class="speaker">
						<div class="speaker_image"><img src="images/speaker_4.jpg" alt=""></div>
						<div class="speaker_info d-flex flex-column align-items-start justify-content-center">
							<div class="speaker_name"><a href="#">Gabriel Kim</a></div>
							<div class="speaker_title">Random Post</div>
						</div>
					</div>
				</div>

				 <!-- Speaker -->  
				<div class="col-xl-4 col-md-6">
					<div class="speaker">
						<div class="speaker_image"><img src="images/speaker_5.jpg" alt=""></div>
						<div class="speaker_info d-flex flex-column align-items-start justify-content-center">
							<div class="speaker_name"><a href="#">Christine Brown</a></div>
							<div class="speaker_title">Random Post</div>
						</div>
					</div>
				</div>

				 <!-- Speaker --> 
				<div class="col-xl-4 col-md-6">
					<div class="speaker">
						<div class="speaker_image"><img src="images/speaker_6.jpg" alt=""></div>
						<div class="speaker_info d-flex flex-column align-items-start justify-content-center">
							<div class="speaker_name"><a href="#">Laura White</a></div>
							<div class="speaker_title">Random Post</div>
						</div>
					</div>
				</div>*/


/*********************************
13. Timeline
*********************************/


a{text-decoration:none}
h4{text-align:center;margin:30px 0;color:#444}
.main-timeline{position:relative}
.main-timeline:before{content:"";width:5px;height:100%;border-radius:20px;margin:0 auto;background:#242922;position:absolute;top:0;left:0;right:0}
.main-timeline .timeline{display:inline-block;margin-bottom:50px;position:relative}
.main-timeline .timeline:before{content:"";width:20px;height:20px;border-radius:50%;border:4px solid #fff;background:#ec496e;position:absolute;top:50%;left:50%;z-index:1;transform:translate(-50%,-50%)}
.main-timeline .timeline-icon{display:inline-block;width:130px;height:130px;border-radius:50%;border:3px solid #ec496e;padding:13px;text-align:center;position:absolute;top:50%;left:30%;transform:translateY(-50%)}
.main-timeline .timeline-icon i{display:block;border-radius:50%;background:#ec496e;font-size:64px;color:#fff;line-height:100px;z-index:1;position:relative}
.main-timeline .timeline-icon:after,.main-timeline .timeline-icon:before{content:"";width:100px;height:4px;background:#ec496e;position:absolute;top:50%;right:-100px;transform:translateY(-50%)}
.main-timeline .timeline-icon:after{width:70px;height:50px;background:#fff;top:89px;right:-30px}
.main-timeline .timeline-content{width:50%;padding:0 50px;margin:52px 0 0;float:right;position:relative}
.main-timeline .timeline-content:before{content:"";width:70%;height:100%;border:3px solid #ec496e;border-top:none;border-right:none;position:absolute;bottom:-13px;left:35px}
.main-timeline .timeline-content:after{content:"";width:37px;height:3px;background:#ec496e;position:absolute;top:13px;left:0}
.main-timeline .title{font-size:20px;font-weight:600;color:#ec496e;text-transform:uppercase;margin:0 0 5px}
.main-timeline .description{display:inline-block;font-size:16px;color:#404040;line-height:20px;letter-spacing:1px;margin:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:auto;right:30%}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-100px}
.main-timeline .timeline:nth-child(even) .timeline-icon:after{right:auto;left:-30px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:left}
.main-timeline .timeline:nth-child(even) .timeline-content:before{left:auto;right:35px;transform:rotateY(180deg)}
.main-timeline .timeline:nth-child(even) .timeline-content:after{left:auto;right:0}
.main-timeline .timeline:nth-child(2n) .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-icon i,.main-timeline .timeline:nth-child(2n) .timeline-icon:before,.main-timeline .timeline:nth-child(2n):before{background:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-icon{border-color:#f9850f}
.main-timeline .timeline:nth-child(2n) .title{color:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{border-left-color:#f9850f;border-bottom-color:#f9850f}
.main-timeline .timeline:nth-child(3n) .timeline-content:after,.main-timeline .timeline:nth-child(3n) .timeline-icon i,.main-timeline .timeline:nth-child(3n) .timeline-icon:before,.main-timeline .timeline:nth-child(3n):before{background:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-icon{border-color:#8fb800}
.main-timeline .timeline:nth-child(3n) .title{color:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-content:before{border-left-color:#8fb800;border-bottom-color:#8fb800}
.main-timeline .timeline:nth-child(4n) .timeline-content:after,.main-timeline .timeline:nth-child(4n) .timeline-icon i,.main-timeline .timeline:nth-child(4n) .timeline-icon:before,.main-timeline .timeline:nth-child(4n):before{background:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-icon{border-color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .title{color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-content:before{border-left-color:#2fcea5;border-bottom-color:#2fcea5}
@media only screen and (max-width:1200px){.main-timeline .timeline-icon:before{width:50px;right:-50px}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-50px}
.main-timeline .timeline-content{margin-top:75px}
}
@media only screen and (max-width:990px){.main-timeline .timeline{margin:0 0 10px}
.main-timeline .timeline-icon{left:25%}
.main-timeline .timeline:nth-child(even) .timeline-icon{right:25%}
.main-timeline .timeline-content{margin-top:115px}
}
@media only screen and (max-width:767px){.main-timeline{padding-top:50px}
.main-timeline:before{left:80px;right:0;margin:0}
.main-timeline .timeline{margin-bottom:70px}
.main-timeline .timeline:before{top:0;left:83px;right:0;margin:0}
.main-timeline .timeline-icon{width:60px;height:60px;line-height:40px;padding:5px;top:0;left:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:0;right:auto}
.main-timeline .timeline-icon:before,.main-timeline .timeline:nth-child(even) .timeline-icon:before{width:25px;left:auto;right:-25px}
.main-timeline .timeline-icon:after,.main-timeline .timeline:nth-child(even) .timeline-icon:after{width:25px;height:30px;top:44px;left:auto;right:-5px}
.main-timeline .timeline-icon i{font-size:30px;line-height:45px}
.main-timeline .timeline-content,.main-timeline .timeline:nth-child(even) .timeline-content{width:100%;margin-top:-15px;padding-left:130px;padding-right:5px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:right}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(even) .timeline-content:before{width:50%;left:120px}
.main-timeline .timeline:nth-child(even) .timeline-content:before{right:auto;transform:rotateY(0)}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(even) .timeline-content:after{left:85px}
}
@media only screen and (max-width:479px){.main-timeline .timeline-content,.main-timeline .timeline:nth-child(2n) .timeline-content{padding-left:110px}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(2n) .timeline-content:before{left:99px}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-content:after{left:65px}
}



/******************* Timeline Demo - 4 *****************/
.main-timeline4{overflow:hidden;position:relative}
.main-timeline4:before{content:"";width:5px;height:70%;background:#333;position:absolute;top:70px;left:50%;transform:translateX(-50%)}
.main-timeline4 .timeline-content:before,.main-timeline4 .timeline:before{top:50%;transform:translateY(-50%);content:""}
.main-timeline4 .timeline{width:50%;padding-left:100px;float:right;position:relative}
.main-timeline4 .timeline:before{width:20px;height:20px;border-radius:50%;background:#fff;border:5px solid #333;position:absolute;left:-10px}
.main-timeline4 .timeline-content{display:block;padding-left:150px;position:relative}
.main-timeline4 .timeline-content:before{width:90px;height:10px;border-top:7px dotted #333;position:absolute;left:-92px}
.main-timeline4 .year{display:inline-block;width:120px;height:120px;line-height:100px;border-radius:50%;border:10px solid #f54957;font-size:16px;color:#f54957;text-align:center;box-shadow:inset 0 0 10px rgba(0,0,0,.4);position:absolute;top:0;left:0}
.main-timeline4 .year:before{content:"";border-left:20px solid #f54957;border-top:10px solid transparent;border-bottom:10px solid transparent;position:absolute;bottom:-13px;right:0;transform:rotate(45deg)}
.main-timeline4 .inner-content{padding:20px 0}
.main-timeline4 .title{font-size:24px;font-weight:600;color:#f54957;text-transform:uppercase;margin:0 0 5px}
.main-timeline4 .description{font-size:14px;color:#6f6f6f;margin:0 0 5px}
.main-timeline4 .timeline:nth-child(2n){padding:0 100px 0 0}
.main-timeline4 .timeline:nth-child(2n) .timeline-content:before,.main-timeline4 .timeline:nth-child(2n) .year,.main-timeline4 .timeline:nth-child(2n):before{left:auto;right:-10px}
.main-timeline4 .timeline:nth-child(2n) .timeline-content{padding:0 150px 0 0}
.main-timeline4 .timeline:nth-child(2n) .timeline-content:before{right:-92px}
.main-timeline4 .timeline:nth-child(2n) .year{right:0}
.main-timeline4 .timeline:nth-child(2n) .year:before{right:auto;left:0;border-left:none;border-right:20px solid #f54957;transform:rotate(-45deg)}
.main-timeline4 .timeline:nth-child(2){margin-top:110px}
.main-timeline4 .timeline:nth-child(odd){margin:-110px 0 0}
.main-timeline4 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline4 .timeline:first-child,.main-timeline4 .timeline:last-child:nth-child(even){margin:0}
.main-timeline4 .timeline:nth-child(2n) .year{border-color:#1ebad0;color:#1ebad0}
.main-timeline4 .timeline:nth-child(2) .year:before{border-right-color:#1ebad0}
.main-timeline4 .timeline:nth-child(2n) .title{color:#1ebad0}
.main-timeline4 .timeline:nth-child(3n) .year{border-color:#7cba01;color:#7cba01}
.main-timeline4 .timeline:nth-child(3) .year:before{border-left-color:#7cba01}
.main-timeline4 .timeline:nth-child(3n) .title{color:#7cba01}
.main-timeline4 .timeline:nth-child(4n) .year{border-color:#f8781f;color:#f8781f}
.main-timeline4 .timeline:nth-child(4) .year:before{border-right-color:#f8781f}
.main-timeline4 .timeline:nth-child(4n) .title{color:#f8781f}
@media only screen and (max-width:1200px){.main-timeline4 .year{top:50%;transform:translateY(-50%)}
}
@media only screen and (max-width:990px){.main-timeline4 .timeline{padding-left:75px}
.main-timeline4 .timeline:nth-child(2n){padding:0 75px 0 0}
.main-timeline4 .timeline-content{padding-left:130px}
.main-timeline4 .timeline:nth-child(2n) .timeline-content{padding:0 130px 0 0}
.main-timeline4 .timeline-content:before{width:68px;left:-68px}
.main-timeline4 .timeline:nth-child(2n) .timeline-content:before{right:-68px}
}
@media only screen and (max-width:767px){.main-timeline4{overflow:visible}
.main-timeline4:before{height:100%;top:0;left:0;transform:translateX(0)}
.main-timeline4 .timeline:before,.main-timeline4 .timeline:nth-child(2n):before{top:60px;left:-9px;transform:translateX(0)}
.main-timeline4 .timeline,.main-timeline4 .timeline:nth-child(even),.main-timeline4 .timeline:nth-child(odd){width:100%;float:none;text-align:center;padding:0;margin:0 0 10px}
.main-timeline4 .timeline-content,.main-timeline4 .timeline:nth-child(2n) .timeline-content{padding:0}
.main-timeline4 .timeline-content:before,.main-timeline4 .timeline:nth-child(2n) .timeline-content:before{display:none}
.main-timeline4 .timeline:nth-child(2n) .year,.main-timeline4 .year{position:relative;transform:translateY(0)}
.main-timeline4 .timeline:nth-child(2n) .year:before,.main-timeline4 .year:before{border:none;border-right:20px solid #f54957;border-top:10px solid transparent;border-bottom:10px solid transparent;top:50%;left:-23px;bottom:auto;right:auto;transform:rotate(0)}
.main-timeline4 .timeline:nth-child(2n) .year:before{border-right-color:#1ebad0}
.main-timeline4 .timeline:nth-child(3n) .year:before{border-right-color:#7cba01}
.main-timeline4 .timeline:nth-child(4n) .year:before{border-right-color:#f8781f}
.main-timeline4 .inner-content{padding:10px}
}




.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  opacity: 0;
  transition: .3s ease;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.col-md-5:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 40px;
  position: relative;
  top: 85%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding-right: 10px;
}


/* When you move the mouse over the icon, change color */
.icon>i:hover {
  color: #eee;
}

